@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primario: #182955;
    --color-primario-hover: #12192c;
    --color-secundario: #eee;
    --color-texto-botones: #EEE;
    --color-texto-primario: #17223B;
    --color-texto-primario-oscuro: #fff;
    --color-texto-secundario: #000;
    --color-texto-secundario-oscuro: #eee;
    --titulos: 3em;
    --subtitulos: 2em;
    --texto: 15px;
    --color-cuadros: #713112;
    --color-titulo-principal: #D6EAF8;
}

/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(res/image/fondo-almacen.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg,#2e92cc, #5f4e27);
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

a {
    text-decoration: none;
    color: var(--color-texto);
    scroll-margin-top: 100px;
}

strong{
    color: var(--color-primario);
    display: inline;
}

/* Estilos del header (barra de navegacion e imagen) */

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.barra-de-navegacion {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(30deg,#182955, #17223B);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav.barra-de-navegacion a {
    color: var(--color-texto-botones);
}

#logo {
    display: flex;
    align-items: center;
    width: 40px;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 10px;
}

#logo img {
    width: 100%;
    height: 100%;
}

img.imagen-fondo {
    justify-content: center;
    width: 100%;
}

div.hamburguesa{
    cursor: pointer;
    font-size: 40px;
    margin-right: 5px;
    display: none;
    color: #fff;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40;
}

a.boton-de-direccion {
    padding: 20px 10px;
    /*espacio alrededor texto*/
    background-color: inherit;
    /*color botón*/
    color: var(--color-texto);
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    border: none;
    /*quitar borde*/
    font-size: 20px;
    
}

a.boton-de-direccion#boton-final{
    margin-right: 10px;
}

a.boton-de-direccion:hover {
    background-color: var(--color-primario-hover);
}

h1{
    font-size: var(--titulos);
    text-align: center;
    position: relative;
    color: var(--color-titulo-principal);
    animation: aparicion 1s ease-in-out;
}

.menu-responsivo{
    text-align: center;
    position: fixed;
    left: 0;
    top: 60px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(223, 219, 219);
    z-index: 100;
}

.menu-responsivo a{
    color: var(--color-texto-primario);
    width: fit-content;
    text-decoration: dashed;
    text-align: center;
    font-size: 30px;
}
.mostrar{
    visibility: hidden;
    opacity: 0;
    transition: mostrar .5s linear ;
}

/* lineas acompañadas del titulo como decoracion */

h1::after, h1::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 3px;
    background-color: var(--color-primario);
    top: 0.6em;
}

h1::before {
    left: -150px;
}

h1::after {
    right: -150px;
}

/* Estilos del cuerpo principal */


.contenido-principal{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 10px;
}

.contenido-principal h2{
    font-size: var(--titulos);
    font-weight: bold;
    color: var(--color-texto-primario);
    /* margin: 20px 0; */
    text-align: center;
    font-size: 30px;
}

.contenido-principal p{
    /* width: 80%; este de aqui hace que se vea feo */
    padding: 2%; /*este de aqui hace que este fixed*/
    font-size: var(--texto);
    color: var(--color-texto-secundario);
    margin: 20px 0;
    text-align: justify;
    
}

/* Tarjetas general */

.contenido-principal .descripcion-titulo{
    width: 100%;
    border-radius: 0;
    background-color: var(--color-secundario);
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    color: var(--color-texto-secundario);
    background-color: var(--color-secundario);
}
/*Tarjeta de Titulo*/
.contenido-principal .descripcion-titulo-pag{
    width: 100%;
    border-radius: 0;
    background-color: var(--color-secundario);
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    position: relative;
    color: var(--color-texto-secundario);
    background-color: var(--color-secundario);
}


/* tarjetas de P */
.contenido-principal .descripcion-titulo p{
    padding: 2%;
    justify-items: center;
    font-size: 15px;
    font-family: Roboto;
    text-align: justify;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: var(--color-texto-secundario);
    background-color: var(--color-secundario);
}

.contenido-principal .contenedor-tarjetas{
    display: grid;
    justify-content: center;
    vertical-align: middle;
    grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
    justify-items: center;
    align-items: center;
    width: 100%;
}

.contenedor-tarjetas .tarjeta{
    background-color: var(--color-secundario);
    border-radius: 10px;
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.tarjeta h3{
    font-size: var(--subtitulos);
    font-weight: bold;
    color: var(--color-texto-primario);
}

.tarjeta p{
    text-align: justify;
}

.tarjeta-imagen img{
    width: 200px;
    max-height: 250px;
    height: auto;
}
/* Listas universal */
ul{
    /* width: 40vh; */
    margin-bottom: 10px;
    font-size: 25px;
    list-style: none;
    font-family: Roboto;
    background: var(--color-primario);
    color: var(--color-secundario);
    border-radius: 10px;
    animation: lista-stretch 2s;
    text-align: center;
}

li {
    margin: 10px;
    list-style: none;
    font-size: 15px;
}

/* Estilos del footer */

.pie-pagina{
    bottom: 0;
    width: 100%;
    background-color: var(--color-primario);
}
.pie-pagina .informacion-general{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.pie-pagina .informacion-general .box{
    text-align: center;
}

.pie-pagina .informacion-general .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .informacion-general .box figure img{
    width: 100px;
}
.pie-pagina .informacion-general .box h2{
    color: var(--color-texto-botones);
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .informacion-general .box p{
    color: var(--color-texto-secundario-oscuro);
    margin-bottom: 10px;
}
.pie-pagina .informacion-general .redes-sociales a{
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--color-texto-botones);
    margin-right: 10px;
    background-color: var(--color-primario-hover) ;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .informacion-general .redes-sociales a:hover{
    color: brown;
}

.pie-pagina .informacion-general .redes-sociales #youtube:hover{
    color: red;
}

.pie-pagina .informacion-general .redes-sociales #facebook:hover{
    color: #14a2f9;
}

.pie-pagina .informacion-general .redes-sociales #twitter:hover{
    color: #00aced;
}

.pie-pagina .informacion-general .redes-sociales #instagram:hover{
    color: #d50fc8;
}

.pie-pagina .informacion-legal{
    background-color:var(--color-primario-hover) ;
    padding: 30x, 10px;
    text-align: center;
    color:var(--color-texto-botones) ;
}
.pie-pagina .informacion-legal small{
    font-size: 16px;
}
/* MediaQuerys */
@media screen and (max-width: 864px) {
    h1::after, h1::before{
        display: none;
    }
}

@media screen and (max-width: 800px){

    h1::after, h1::before {
        display: none;
    }
    .pie-pagina .informacion-general{
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;
    }
    .redes-sociales{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 520px){
    .contenido-principal p{
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .contenido-principal .descripcion-titulo {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 460px) {
    .contenedor-botones{
        display: none;
    }
    div.hamburguesa{
        display: block;
    }
    .mostrar{
        visibility: visible;
        opacity: 1;
    }
}
/*animacion*/

@keyframes aparicion{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes mostrar{
    100%{
        opacity: 1;
    }
}