*{
    margin: 0;
    padding: 0;
}

/* div contenedor del h1 y p del titulo y descripcion */

.box-titulo-servicios {
    width: 600px;
    height: 200px;
    margin: 10px auto;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* descripcion debajo del titulo */

div p.descripcion-titulo-servicios {
    width: 500px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    position: relative;
}

/* Informacion sobre los servicios */

div.box-servicio {
    width: 1000px;
    height: 400px;
    margin: 10px;
    border-radius: 30px;
    background: #F8F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 10px 10px 30px #ABB2B9 ;
}

div img.imagen-de-servicio {
    margin: 20px;
    width: auto;
    height: auto;
    max-height: 70%;
    max-width: 50%;
}

div p.descripcion-de-servicio {
    width: max-content;
    font-size: 20px;
    text-align: center;
}

div.box-texto {
    /* background: greenyellow; */
    margin: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* No toquen nada perras */