@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primario: #17223B;
    --color-primario-hover: #12192c;
    --color-secundario: #eee;
    --color-texto-botones: #EEE;
    --color-texto-primario: #17223B;
    --color-texto-primario-oscuro: #fff;
    --color-texto-secundario: #000;
    --color-texto-secundario-oscuro: #eee;
    --titulos: 30px;
    --subtitulos: 20px;
    --texto: 15px;
    --color-cuadros: #713112;
}

/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background: var(--color-secundario);
}

a {
    text-decoration: none;
    color: var(--color-texto);
}

/* estilo de la pestaña */

.redireccion{
    font-size: var(--titulos);
    font-weight: bold;
    color: var(--color-texto-primario);
    margin: 50px 0;
    text-align: right;
}

.correo {
    margin: 100px;
    border: #eee;
    border-radius: 20px;
}
.texto iframe{
    width:235px;
    height:590px;
    padding-left:20px;
}

#map {
    height: 100%;
  }