.box-titulo-Etiqueta {
    width: 600px;
    height: 200px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* descripcion debajo del titulo */

div p.descripcion-titulo-StrechFilm {
    width: 500px;
    font-size: 20px;
    font-family: Roboto;
    text-align: justify;
    position: relative;
}
/* tabla */
.tabla-etiqueta{
    border-collapse: collapse;
    padding: auto;
    margin: 50px;
}

.tabla-2{
    border-collapse: collapse;
    padding: auto;
    margin: 100px;
}

.lista-Etiqueta{
    width: 300px;
    font-size: 25px;
    font-family: Roboto;
    background: var(--color-secundario);
    color: var(--color-primario);

    animation: lista-etiqueta 5s;
}

.tabla-etiqueta th{
    width: 200px;
    font-size: 25px;
    font-family: Roboto;
    background: var(--color-primario-hover);
    color: var(--color-secundario);
}

td{
    width: 100px;
    font-size: 20px;
    font-family: Roboto;
    color: var(--color-primario);
    text-align: center;
}

/* texto */
li{
    color: var(--color-secundario);
    text-align: center;
    font-family: Roboto;
    margin: 10px;
    font-size: 15px;
    border-radius: 30px;
    background: var(--color-primario);
    align-items: center;
    justify-content: center;
    display: flex;
}

.resaltar-texto{
    color: var(--color-primario);
}

/* tarjeta */

.contenedor-productos-etiqueta {
    width: 50%;
    background-color: var(--color-texto-botones);
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    justify-content: center;
    align-items: center;
}

.productos-etiqueta {
    width: 90%;
    height: 90%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(156, 152, 152, 0.8);
}

.productos-etiqueta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productos-etiqueta .mensaje-productos {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.500);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: center;
    opacity: 0;
    transition: 0.5s;
}

.productos-etiqueta h3 {
    color: var(--color-secundario);
    text-shadow: var(--color-texto-secundario);
    font-size: 20px;
    text-transform: uppercase;
    display: none;
}

.productos-etiqueta:hover h3 {
    display: block;
}

.productos-etiqueta:hover .mensaje-productos {
    opacity: 1
}

.oculto {
    display: none;
}
/* animacion */
@keyframes lista-Etiqueta{
    from{
        margin-top: 100%;
        width: 100%;
    }
    to{
        margin-top: 0%;
        width: 300px;
    }
}

/* Configuracion por cambio de pantalla */
@media screen and (max-width: 1160px) {
    nav.barra-de-productos {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor-productos-etiqueta {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 864px) {


    .contenedor-productos-etiqueta {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}
@media screen and (max-width: 1160px) {
    nav.barra-de-productos {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor-productos-etiqueta2 {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 864px) {


    .contenedor-productos-etiqueta2 {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}