.box-titulo-StrechFilm {
    width: 600px;
    height: 200px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* descripcion debajo del titulo */

div p.descripcion-titulo-StrechFilm {
    width: 500px;
    font-size: 20px;
    font-family: Roboto;
    text-align: justify;
    position: relative;
}

/* tabla */
.tabla {
    border-collapse: collapse;
    padding: auto;
    margin: 50px;
}

.tabla-2 {
    border-collapse: collapse;
    padding: auto;
    margin: 100px;
}

.tabla {
    background-color: var(--color-secundario);
}

.tabla th {
    width: 100px;
    font-size: 25px;
    font-family: Roboto;
    background: var(--color-primario-hover);
    color: var(--color-secundario);
}

td {
    width: 100px;
    font-size: 20px;
    font-family: Roboto;
    color: var(--color-primario);
    text-align: center;
}

/* texto */

