.box-titulo-productos {
    width: 600px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div p.descripcion-titulo-productos {
    width: 500px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    position: relative;
}


nav.barra-de-productos {
    display: flex;
    flex-direction: row;
    width: 75%;
    border-radius: 10px;
    background: #D5D8DC;
}

nav.barra-de-productos a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

/* Cada vez que el cursor se encima sobr cada opcion cambia de color */
nav.barra-de-productos a:hover {
    background-color: #ABB2B9;
    color: #eee;
}

nav.barra-de-productos a.boton-barra-de-productos {
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/*Cada que se selecciona una pestaña esta se marca con un color distintivo*/
nav.barra-de-productos a.boton-barra-de-productos.seleccionado {
    background-color: #ABB2B9;
    border-bottom: #17223B solid 10px;
    color: #eee;
}

/* Cada vez que el cursor este encima da informacion del producto */
.contenedor-productos {
    width: 90%;
    background-color: var(--color-texto-botones);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.productos {
    width: 90%;
    height: 90%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(156, 152, 152, 0.8);
}

.contenedor-productos img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    object-fit: cover;
}

.productos .mensaje-productos {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.500);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: center;
    opacity: 0;
    transition: 0.5s;
}

.productos h3 {
    color: var(--color-secundario);
    text-shadow: var(--color-texto-secundario);
    font-size: 20px;
    text-transform: uppercase;
    display: none;
}

.productos:hover h3 {
    display: block;
}

.productos:hover .mensaje-productos {
    opacity: 1;
}

.oculto {
    display: none;
}

/* Cambio de configuracion al cambiar tamaño de pantalla */
@media screen and (max-width: 1160px) {
    nav.barra-de-productos {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor-productos {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 864px) {
    .contenedor-productos {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
