
nav.barra-de-productos {
    display: flex;
    flex-direction: row;
    width: 75%;
    border-radius: 10px;
    background: #D5D8DC;
}

nav.barra-de-productos a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

/* Cada vez que el cursor se encima sobr cada opcion cambia de color */
nav.barra-de-productos a:hover{
    background-color: #ABB2B9;
    color: #eee;
}

nav.barra-de-productos  a.boton-barra-de-productos {
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/*Cada que se selecciona una pestaña esta se marca con un color distintivo*/
nav.barra-de-productos a.boton-barra-de-productos.seleccionado {
    background-color: #ABB2B9;
    border-bottom: #17223B solid 10px;
    color: #eee;
}

/* Cada vez que el cursor este encima da informacion del producto */
.contenedor-productos{
    width: 76%;
    background-color: var(--color-texto-botones);
    display: flex;
    justify-content: center;
    align-items: center;
}
.productos{
    width: 30%;
    height: 50%;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: .7%;
}
.contenedor-productos img{
    width: 100%;
    height: 80%;
    object-fit: cover;
} 
.productos .mensaje-productos{
    width: 0%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: center;
    transition: .2s all;
}
.productos h3{
    color: var(--color-secundario);
    text-shadow: var(--color-texto-secundario);
    font-size: 20px;
    text-transform: uppercase;
    display: none;
}
.productos:hover h3{
    display: block;
}
.productos:hover .mensaje-productos{
    width: 100%;
} 
@media screen and (max-width: 600px) {
    .nav.barra-de-productos{
        width: 100%;
        flex-wrap: nowrap;
    }
}
